<div class="field" id="redactorStyleItJson-field">
  <div class="heading">
    <label for="redactorStyleItJson">JSON Object</label>
  </div>
  <div class="input">
    <textarea class="text nicetext fullwidth" name="redactorStyleItJson" id="redactorStyleItJson">{{ settings.redactorStyleItJson }}</textarea>
  </div>
</div>

<div class="field" id="redactorStyleItCss-field">
  <div class="heading">
    <label for="redactorStyleItCss">CSS</label>
  </div>
  <div class="input">
    <textarea class="text nicetext fullwidth" name="redactorStyleItCss" id="redactorStyleItCss">{{ settings.redactorStyleItCss }}</textarea>
  </div>
</div>

<div class="field" id="redactorStyleItCssFile-field">
  <div class="heading">
    <label for="redactorStyleItCssFile">CSS File</label>
  </div>
  <div class="input">
    <input class="text fullwidth" type="text" name="redactorStyleItCssFile" id="redactorStyleItCssFile" placeholder="/css/redactorStyleIt.css" value="{{ settings.redactorStyleItCssFile }}">
  </div>
</div>

